.form-container {
  background: #00b5e2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  text-align: center;

  h1 {
    margin: 0;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #014050;
  }

  form {
    input:focus {
      outline: none;
    }
    width: 100%;
    display: flex;
    flex-direction: column; /* Change the flex direction */
    align-items: center;
    gap: 10px;
    input[type="text"] {
      width: 100%; /* Make the input take full width */
      height: 40px;
      padding: 0.5rem;
      border: none;
      border-radius: 5px;
      background: rgba(255, 255, 255, 0.616);
      color: #1f1f1f;
      font-size: 1rem;
      &::placeholder {
        color: #999;
      }
    }
    button {
      background: #014050;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
      &:hover {
        background: #00252e;
      }
    }
  }
}